{% load static%}
<div class="footer">
   <footer class="footer">
        <div class="deg-footer"></div>
        <div class="ejeZfooter">
        <div class="container-footer">
        <div class="container-body">
            <div class="colum1">
            <h1>Redes Sociales</h1>
            <div class="row2">
                <div class="links">
                <a class="facebook" href="https://www.facebook.com/Ground-Zero-107010298686503/" target="_blank" title="GFG_facebook"><i class="fab fa-facebook"></i>
                <label>Facebook</label></a>
                <div class="row2">
                    <a class="insta" href= "https://www.instagram.com" target="_blank" title="GFG_instagram"><i class="fab fa-instagram-square"></i>
                    <label>Instagram</label></a>
                </div>
                <div class="row2">
                    <a class="git" href="https://github.com/javierX888/Ground-Zero.git" title="GFG_github" target="_blank"><i class="fab fa-github-square"></i>
                    <label>Github</label></a>
                </div>
                </div>
            </div>
            </div>
            <div class="colum2">
                <h1>Informacion Contactos</h1>
                
                <div class="row2">
                <img src="{%static 'icon/house.png'%}" />
                <label>
                Antonio Varas 666, Providencia
                </label>
                </div>
                <div class="map" id="map">
                <script src="{%static 'js/scriptMapa.js'%}"></script>
                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDaeWicvigtP9xPv919E-RNoxfvC-Hqik&callback=iniciarMap"></script>
                </div>

                <div class="row2">
                <img src="{%static 'icon/smartphone.png'%}" />
                <label>(+56) 123 456 789</label>
                </div>
        
                <div class="row2">
                <img src="{%static 'icon/contact.png'%}" />
                <label>groundzero@gmail.com</label>
                </div>
            </div>
        </div>
        </div>
        
            <div class="information">
            <a href="">Informacion Compañia</a> |
            <a href="">Privacion y Politica</a> |
            <a href="">Terminos y Condiciones</a>
            </div>
        </div>
        </div>    
        <div class="footer-text">
        <p>&copy;© 2022 Todos los Derechos Reservados | GroundZero Foundacion</p>
        </div>
    </footer>
</div>  